.profile-background-img {
    display: flex;
}

.user-upload {
    height: 28vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.profile-item {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.profile-title {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

.profile-description {
    border: 3px solid #A8DEE6;
    border-radius: 18px;
    width: 80%;
}

.profile-events {
    margin-top: 2em;
    border: 3px solid #A8DEE6;
    border-radius: 18px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.profile-description-text {
    margin-left: 1em;
    margin-right: 1em;
}

.profile-name {
    font-weight: bold;
    color: #1E6091;
}


.profile-button {
    background-color: #1E6091;
    border: none;
    border-radius: 6px;
    height: 3em;
    color: white;
    width: 30%;
    margin-top: 23vh;
    margin-bottom: 1em;
    font-size: 16px;
}



.event-image {
    width: 8rem;
    padding-bottom: 4px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 100%;
}

.event-mainText {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-mainText>h4 {
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.event-mainText>p {
    color: black;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px;
}

.event-card {
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 3.2fr 1.7fr;
    width: 90%;
    height: 100px;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 20px;
    border: 3px solid #A8DEE6;
    text-decoration: none;
    color: black;
    margin-left: 0;
}


.settings-item>form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-input {
    border: 2px solid #B9FBC0;
    border-radius: 6px;
    text-align: center;
    color: black;
    height: 3em;
    margin-top: 0.5em;
    width: 75%;
    font-size: 16px;

}

.settings-form {
    margin-top: 2em;
}

.settings-form>textarea {
    height: 8em;
}

.settings-button {
    background-color: #1E6091;
    border: none;
    border-radius: 6px;
    height: 3em;
    color: white;
    width: 60%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 18px;
}

.blue-background-modal .ant-modal-content{
    background-color: #A8DEE6;
}

.ant-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.ant-modal-body>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.ant-modal-body>form>textarea {
    font-family: "Roboto", sans-serif;
}