.textbox-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.textbox {
  border: 1px solid #A8DEE6;
  border-radius: 20px;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px; /* Ancho del botón */
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: #fbfbfb;
}

.textbox:focus {
  transition: 0.2s ease-in-out;
}

.textboxdiv {
  position: relative;
}

.textboxdiv button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.suggestions {
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb;
  max-height: 20rem;
  width: 90%;
  height: fit-content;
  z-index: 10;
}

.suggestions.hidden {
  visibility: hidden; 
}

.suggestion {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1px 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.suggestion:hover {
  background-color: #dedede;
}