.textbox {
     border: 1px solid #A8DEE6;
     border-radius: 20px;
    height: 35px;
    width: 350px;
    box-sizing: border-box;
    padding: 1px 10px;
    outline: none;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
   
  }
  
  .textbox:focus {
    transition: 0.2s ease-in-out;
   
  }

  .container {
    width: 30rem;
    position: relative;
  }
  
  
  
  .suggestions {
    /* Styles of the suggestions container */
    overflow-y: scroll;
    border: 1px solid #f3f3f3;
    background-color: white;
    max-height: 20rem;
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 10;
  }
  
  .suggestions.hidden {
    /* Will hide the suggestions */
    visibility: hidden; // We can also use `opacity: 0`
  }
  
  .suggestion {
    /* Styling of a single suggestion */
    cursor: pointer;
    box-sizing: border-box;
    padding: 1px 10px;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  
  .suggestion:hover {
    /* Changing background color on hover */
    background-color: #f3f3f3;
  }