.card {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin-top: 0;
    }
}