.circleWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 20vh;

}
.circle {
    position: absolute;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 18px;
      h2 {
        font-size: 1.5rem;
        color: white;
      }
    }

.circleone {
    background-color: black;
    left: 28%;
    rotate: 10deg;
    z-index: 9999;
    width: 140px;
    height: 140px;
    margin-top: 50px;
    background-color: #F7EF81;
}

.circletwo {
    color: white;
    left: 10%;
    rotate: -20deg;
    width: 125px;
    height: 125px;
    background-color: #1E6091;
}

.circlethree {
    width: 110px;
    height: 110px;
    left: 50%;
    rotate: 20deg;
    background-color: #E6A8BF;
}

.circlefour {
    width: 90px;
    height: 90px;
    left: 65%;
    margin-top: 80px;
    rotate: -20deg;
    background-color: #B9FBC0;
}

.circlefive {
    width: 250px;
    height: 250px;
    left: 17%;
    margin-top: 80px;
    rotate: 3deg;
    background-color: #1E6091;
    color: white;
    font-size: 24px;
}

.circlesix {
    width: 150px;
    height: 150px;
    left: 15%;
    margin-top: 55vh;
    rotate: -10deg;
    background-color: #B9FBC0;
    cursor: pointer;
}

.circleseven {
    width: 130px;
    height: 130px;
    left: 45%;
    margin-top: 65vh;
    rotate: -5deg;
    background-color: #E6A8BF;
    cursor: pointer;
}