.navbar {
    background-color: #1E6091;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    border-radius: 28px;
    height: 7vh;
    width: 95%;
    margin: auto;
    align-items: center;
    margin-top: 40px;

}

.navbar a {
    background-color: #1E6091;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar a.active {
    transform: scale(1.6) translateY(-10%);
    transition: 0.3s ease-in-out;
}

a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}
