.navbar {
    background-color: #1E6091;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    border-radius: 28px;
    width: 95vw;
    height: 8vh;
    margin: 2.5%;
    align-items: center;
    margin-top: 40px;
    position: fixed;
    bottom: 2%;
}

.navbar  {
    a {
    background-color: #1E6091;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 35px;
    }
}

.navbar a.active {
    transition: 0.3s ease-in-out;
    transform: scale(1.4) translateY(-13%);

}
