.drawer {
    width: 100%;
    height: 45%;
    background-color: white;
    position: fixed;
    bottom: -45%;
    overflow-y: auto;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.drawer.open {
    bottom: 0%;
}

.drawer-content {
    padding-top: 5%;
    width: 100%;
    height: 100%;
}

.drawer-filter-top {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
}

.drawer-filter-top div{
    margin: 2%;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer-filter-top div span{
    background-color: #A8DEE6;
    width: 4rem;
    height: 4rem;
    border-radius: 10%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-filter-top div img{
    background-color: #A8DEE6;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-filter-top div p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.drawer-filter-bottom {
    display: flex;
    justify-content: space-around;
    padding-right: 6rem;
    padding-left: 6rem;
    align-items: center;
}

.drawer-filter-bottom div{
    margin: 2%;
    width: 4rem;
    display: flex;
    padding-top: 4%;
    flex-direction: column;
    align-items: center;
}

.drawer-filter-bottom div span{
    background-color: #A8DEE6;
    width: 4rem;
    height: 4rem;
    border-radius: 10%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-filter-bottom div p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}


.swipe{
    height: 6px;
    width: 119px;
    margin: 0 auto;
    margin-bottom: 2%;
    border-radius: 1rem;
    background-color: #A8DEE6;
}